<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | AI Proctoring</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Student Dashboard</h2>
        <p>Welcome to the AI Proctored Exam System</p>

        <a href="/exam">
            <button>Start Exam</button>
        </a>

        <a href="/admin">
            <button style="margin-top:10px;background:linear-gradient(to right,#ff512f,#dd2476);">
                Admin Panel
            </button>
        </a>
    </div>
</div>

</body>
</html>
